@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
}
/* Criando Variaveis*/
:root{
  --bg-body: #242a32;
  --color-primary: #131219;
  --text-color: #f4f3f3; 
  --text-form: #92929D;
  --star-yellow: #FFBB3A;
}
    /* Usando variaveis */
html, body {
    background-color: var(--bg-body);
}
header {
    /* Mudando a cor de fundo*/
    background-color: var(--color-primary);
    color: #fff;
    /* Modificando a altura */
    height: 60px;
    /* Deixando os itens flexivel*/
    display: flex;
    /*alinhando os itens*/
    align-items: center;
}
    h1, h2 ,h3 ,h4 ,h5 , h5{
    margin: 0;
 }  
a{
    text-decoration: none;
    color: unset;
}